.sidemenu {
    grid-column: side-start / side-end;
    margin: 8rem 0;
    width: 90%;
    height: 40rem;
    border-radius: 10px;
    background-color: $color-grey-light-2;
}
.post--header {
    grid-column: side-end / full-end;
    background-image: url('../img/banner.png');
    background-size: cover;
    transform: scaleX(-1);
}
.info__main {
    grid-column: side-end / center-end;
}
