.info__main {
    grid-column: side-end / center-end;
}
.section {
    &-1 {
    }
    &-2 {
        background-color: $color-grey-light-2;
    }
    &-3 {
    }
    &-4 {
        background-color: $color-grey-light-2;
    }
}
