.preview {
  background-color: $color-grey-light-2;
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
.swiper2 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  & > .swiper-wrapper > .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 40rem;
    height: 40rem;
    margin: 0 3rem;
  }
}
 */

.preview__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 30rem));
  grid-gap: 10rem;
}

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 52rem;
    backface-visibility: hidden;
    transition: all 0.8s ease;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
      background-image: linear-gradient(
        to right bottom,
        $color-primary,
        $color-primary-dark-1
      );
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary,
          $color-white
        ),
        url(/src/img/slide/slide-2.png);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary,
          $color-white
        ),
        url(/src/img/slide/slide-2.png);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary,
          $color-white
        ),
        url(/src/img/slide/slide-2.png);
    }
  }

  &__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 60%;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: $color-white;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.85),
        rgba($color-secondary-dark-1, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.85),
        rgba($color-secondary, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.85),
        rgba($color-secondary-dark-1, 0.85)
      );
    }
  }

  &__details {
    padding: 1rem 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__text-box {
    margin: 5rem 0;
    font-size: 2rem;
    color: $color-white;
  }
}

// BUTTON STYLING
.btn {
  &,
  /* 아직 방문하지 않은 <a> 요소를 선택 */
  &:link,
    /* 방문한 <a> 요소를 선택 */
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    position: relative;
    display: inline-block; /* 문자로 취급. 위에서 text-align: center; 적용하여 정렬. */
    border: 1px solid $color-white;
    border-radius: 10rem;
    font-size: $default-font-size;
    color: aliceblue;
    cursor: pointer;
    transition: 0.3s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: $shadow;
  }
}
