.signin-up-container {
    grid-column: full-start / full-end;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $color-white;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        width: 3000px;
        height: 3000px;
        border-radius: 50%;
        background: linear-gradient(-45deg, $color-primary-dark-1, $color-primary-dark-2);
        top: -10%;
        right: 48%;
        transform: translateY(-50%);
        z-index: 6;
        transition: 1.8s ease-in-out;
    }
}

// FORMS-CONTAINER
.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    transition: 0.2s 0.7s ease-in-out;
}
.sign-in-form {
    z-index: 2;
}
.sign-up-form {
    z-index: 1;
    opacity: 0;
}

.form-title {
    font-size: 2.2rem;
    color: $color-grey-dark;
    margin-bottom: 1rem;
}
// 미입력시 경고 문구
.alert {
    max-width: 38rem;
    width: 100%;
    padding: 2rem;
    background-color: pink;
    border-radius: 10px;

    & > li {
        font-size: 1.6rem;
        color: red;
    }
}
.signin-icon,
.signup-icon {
    fill: #acacac;
    width: 2rem;
    height: 5rem;
    margin: 0 auto;
}

// INPUT-FIELD
.input-field {
    display: grid;
    grid-template-columns: 15% 85%;
    margin: 1rem 0;
    padding: 0 0.4rem;
    max-width: 38rem;
    width: 100%;
    height: 5.5rem;
    background-color: #f0f0f0;
    border-radius: 50px;

    & > input {
        background: none;
        outline: none;
        border: none;
        font-weight: 600;
        font-size: 1.4rem;
        color: $color-grey-dark-2;
    }

    & > input::placeholder {
        color: #aaa;
        font-weight: 500;
    }
}

// ///////////////////////////////////
// PANELS-CONTAINER
.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    margin: 12rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
    z-index: 7;

    &-content {
        color: $color-white;
        transition: 0.9s 0.6s ease-in-out;
        & > h3 {
            font-weight: 600;
            font-size: 4rem;
        }
        & > p {
            font-size: 2rem;
            padding: 2rem 0;
        }
    }

    &-image {
        width: 100%;
        transition: 0.9s 0.6s ease-in-out;
    }
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;

    & > .panel-content,
    & > .panel-image {
        transform: translateX(80rem);
    }
}

// ANIMATION
.sign-up-mode {
    &:before {
        transform: translate(100%, -50%);
        right: 52%;
    }

    & .left-panel {
        pointer-events: none;
        & > .panel-content,
        & > .panel-image {
            transform: translateX(-80rem);
        }
    }

    & .right-panel {
        pointer-events: all;
        & > .panel-content,
        & > .panel-image {
            transform: translateX(0);
        }
    }

    & .signin-signup {
        left: 25%;
    }

    & .sign-in-form {
        z-index: 1;
        opacity: 0;
    }
    & .sign-up-form {
        z-index: 2;
        opacity: 1;
    }
}
