*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    // firfox scrollbar
    scrollbar-width: none;
}

body {
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Noto Sans KR', sans-serif;
    display: grid;
}

ul,
li {
    list-style: none;
}

// GRID 설정
.grid {
    grid-template-columns:
        [full-start] 1fr
        [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end])
        [center-end] 1fr
        [full-end];
}
.container {
    grid-template-rows: 7rem 11rem 60vh min-content 40vw min-content 20rem;
}

.post {
    grid-template-rows: 7rem 11rem 40vh min-content 20rem;
    grid-template-columns:
        [full-start] 1fr [side-start] 15vw [side-end center-start]
        repeat(10, [col-start] minmax(min-content, 14rem) [col-end])
        [center-end] 1fr
        [full-end];
}

.signInContainer,
.signUpContainer {
    grid-template-rows: 7rem 11rem 80vh;
    overflow-x: hidden;
}

// SCROLL-BAR 삭제
::-webkit-scrollbar,
::-moz-scrollbar {
    width: 0;
}
