// BUTTON BASE STYLING
.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        position: relative;
        display: inline-block; /* 문자로 취급. 위에서 text-align: center; 적용하여 정렬. */
        border: 1px solid $color-white;
        border-radius: 10rem;
        font-size: $default-font-size;
        color: aliceblue;
        cursor: pointer;
        transition: 0.3s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: $shadow;
    }
}

// BACK TO TOP BUTTON
.scroll-top {
    position: fixed;
    right: 4rem;
    bottom: 7rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;

    &__icon {
        fill: $color-secondary-dark-1;
        width: 6rem;
        z-index: 10000000;
        transition: 0.4s;
    }

    &__icon:hover {
        transform: scale(1.2);
    }
}

.scroll__active {
    opacity: 1;
    right: 4rem;
    bottom: 7rem;
}

// SIGN IN / SIGN UP BUTTON
.sign-in-btn,
.sign-up-btn,
.sign-in-up-info-btn {
    width: 15rem;
    height: 5rem;
    background-color: #5995fd;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.sign-in-up-info-btn {
    margin: 0;
    background: none;
    border: 3px solid $color-white;
    width: 13rem;
    height: 4rem;
    color: $color-white;
}

.sign-in-btn:hover,
.sign-up-btn:hover {
    background-color: #4d84e2;
}
