.header {
  grid-column: full-start / full-end;
}

// SWIPER
.swiper {
  &-container {
    width: 100%;
    height: 100%;
  }

  &-slide {
    text-align: center;
    font-size: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* Center slide text vertically */
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
  }

  &-button-next,
  &-button-prev {
    padding: 4rem 3rem;
    font-weight: 700;
    color: $color-white;
    background-color: $color-secondary-dark-1;

    border-radius: 12px;

    &::after {
      display: none;
    }
  }

  &-pagination-bullet {
    width: 2rem;
    height: 2rem;
    background-color: $color-secondary;
  }
}

.next__icon,
.prev__icon {
  position: absolute;
  fill: $color-grey-light-2;
  width: 4rem;
}

.swiper-slide-active {
  // CAPTION
  .caption {
    position: relative;
    display: block;
    width: 100rem;
    height: 50rem;
    top: 5rem;
    left: 55rem;

    &__title {
      position: absolute;
      top: 18rem;
      right: 30rem;
      width: 30rem;
      font-size: 8rem;
      background-color: $color-secondary;
      color: $color-grey-light-2;
      border-radius: 18px;
      margin: 0;
      opacity: 0;
      animation: moveInRight 0.5s forwards 1s;
    }

    &__content {
      position: absolute;
      bottom: 8rem;
      right: 20rem;
      width: 70%;
      display: block;
      margin: 35px 0 50px;
      font-size: 20px;
      color: $color-grey-light-2;
      opacity: 0;
      animation: moveInRight 0.5s forwards 1.2s;
    }
  }
}
