.navigation {
    grid-column: full-start/full-end;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $color-primary;
    border-bottom: 6px solid $color-primary-dark-1;

    &__logo {
        margin-left: 15rem;
        font-size: 7rem;
        font-weight: 300;
        color: $color-grey-light-2;

        & > span {
            color: $color-secondary;
            font-weight: 800;
        }
    }

    &__nav {
        margin-top: 3rem;
        margin-right: 10rem;
        z-index: 10;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;

    // NAVIGATION ITEM
    &__item {
        margin: 0 2.5rem;
        height: 10rem;
        position: relative;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.1);
        }

        // HOME ICON
        .home__icon {
            width: 3rem;
            height: 3rem;
            fill: $color-white;
            margin-right: 1.2rem;
        }
    }

    // NAVIGATION LINK
    &__link {
        &:link,
        &:visited {
            display: flex;
            align-items: center;
            width: 100%;
            line-height: 10rem;
            font-size: 1.8rem;
            font-weight: 700;
            color: $color-white;
            text-decoration: none;
            transition: all 0.4s;

            &:hover {
                color: #e9212e;
            }
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: #e9212e;
        opacity: 0;
        transition: all 0.2s;
    }
}

// DROPDOWN
.dropdown {
    position: absolute;
    top: 10rem;
    left: 20%;
    width: 23rem;
    background-color: $color-white;
    display: none;
    transition: all 0.5s;

    &__item {
        &:nth-child(1) {
            margin-top: 1rem;
        }
        list-style: none;
    }

    &__link {
        &:link,
        &:visited {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            margin: 0 0.5rem;
            margin-bottom: 1rem;
            font-size: 1.8rem;
            color: $color-black;
            text-decoration: none;
            border-radius: 5px;
            transition: all 0.2s;
        }

        &:hover > span {
            animation: moveInLeft 1s;
        }
    }
}
.home_active .nav__link:hover > .home__icon {
    fill: #e9212e;
}

// 로그인 후 사용자 이름
.username {
    pointer-events: none;

    & > span {
        font-size: 2.3rem;
        color: $color-secondary;
    }
}

// ANIMATION
.nav__link:hover > .nav__icon {
    opacity: 1;
}

.nav__item:hover > .dropdown {
    display: inline-block;
}
