a {
  text-decoration: none;
}

.navigation__header {
  grid-column: full-start/full-end;
  background-color: $color-primary;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.naivgation__container {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

// ////////////////////////////////////////////////////////
// logo
.logo-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.logo {
  color: $color-grey-light-2;
  margin-left: 15rem;
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 3rem;

  @media only screen and(max-width : $bp-big) {
    margin-left: 3rem;
    font-size: 6rem;
  }
}

.logo > span {
  color: $color-secondary;
  font-weight: 800;
}

// ////////////////////////////////////////////////////////
// navigation
.nav-container {
  display: flex;
  flex: 3;

  @media only screen and(max-width : $bp-desktop) {
    margin-right: 5rem;
  }

  @media only screen and(max-width : $bp-big) {
    margin-right: 2rem;
  }
}

.nav-links {
  flex: 2;
}

.nav-ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
}

.nav-link {
  position: relative;
  margin-left: 4rem;
  padding: 2rem 0;
  font-size: 1.8rem;

  @media only screen and(max-width : $bp-large) {
    margin-left: 0;
    font-size: 1rem;
  }
}

.nav-link > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3rem;
  padding: 0 0.8rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  transition: 0.3s;

  @media only screen and(max-width : $bp-large) {
    font-size: 1.5rem;
  }
}

.nav-link:hover > a {
  color: $color-secondary;
  transform: scale(1.1);
}

// ////////////////////////////////////////////////////////
// dropdown
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 16rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
}

.dropdown-ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  background-color: $color-white;
  color: $color-primary-dark-1;
  padding: 1.6rem 1rem;
  font-size: 1.9rem;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
}

.dropdown-link:hover > a {
  background-color: $color-primary-dark-1;
  color: $color-white;
}

.dropdown-link:not(:last-child) {
  border-bottom: 1px solid $color-grey-light-2;
}

.dropdown-link {
  position: relative;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

// ////////////////////////////////////////////////////////
// hamburger 메뉴
.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  & div {
    width: 3rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: 0.5s;
  }

  & div:before,
  & div:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.5s;
  }

  & div:before {
    transform: translateY(-7px);
  }

  & div:after {
    transform: translateY(7px);
  }
}

// ////////////////////////////////////////////////////////
// 로그인 후 사용자 이름
.username {
  pointer-events: none;

  & > span {
    font-size: 2.3rem;
    color: $color-secondary;
  }
}

#check {
  position: absolute;
  // top: 70%;
  right: 1.5rem;
  // transform: translateY(100%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

// ////////////////////////////////////////////////////////
// 반응형
#check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: $bp-medium) {
  .navigation__header {
    position: sticky;
    top: 0px;
  }
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-container {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 7rem;
    left: 0;
    width: 100%;
    background-color: $color-primary-dark-1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.65s;
  }

  #check:checked ~ .nav-container {
    transform: translateX(0);
    position: absolute;
    top: 7rem;
  }

  #check:checked ~ .nav-container .nav-link {
    animation: animation 0.5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > .nav-ul {
    flex-direction: column;
    margin: 0;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a {
    justify-content: center;
    font-size: 3rem;
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background-color: $color-primary;
  }

  .dropdown {
    display: none;
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: $color-primary;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block;
  }
  .dropdown-link > a {
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1;
    font-size: 2rem;
  }
  .dropdown-link:not(:last-child) {
    border-bottom: none;
  }

  .dropdown-link:hover > a {
    background-color: $color-primary-dark-1;
  }
}
