.navigation {
  display: flex;
  background-color: $color-primary;
  grid-column: full-start/full-end;
  justify-content: space-between;
  border-bottom: 4px dashed $color-primary-dark-1;

  &__logo {
    margin-left: 15rem;
    margin-top: -3rem;

    & img {
      width: 40rem;
    }
  }

  &__nav {
    margin-top: 3rem;
    margin-right: 10rem;
    z-index: 10;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;

  // NAVIGATION ITEM
  &__item {
    margin: 0 2rem;
    height: 6rem;
    position: relative;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    // HOME ICON
    .home__icon {
      width: 3rem;
      fill: $color-white;
      margin-right: 0.5rem;
    }
  }

  // NAVIGATION LINK
  &__link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      width: 100%;
      height: 6rem;
      font-size: 2.5rem;
      color: $color-white;
      text-decoration: none;
    }
  }

  &__icon {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    fill: $color-white;
    opacity: 0;
    transition: all 0.2s;
  }
}

// DROPDOWN
.dropdown {
  position: absolute;
  top: 100%;
  left: 20%;
  width: 23rem;
  background-color: $color-secondary-dark-1;
  border-radius: 15px;
  display: none;
  transition: all 0.5s;

  &__item {
    &:nth-child(1) {
      margin-top: 1rem;
    }
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      margin: 0 0.5rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      color: $color-white;
      text-decoration: none;
      background-color: $color-secondary;
      border-radius: 5px;
      transition: all 0.2s;
    }

    &::after {
      content: "";
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      left: 2rem;
      top: -0.8rem;
      background-color: $color-secondary-dark-1;
      transform: rotate(45deg);
    }

    &:hover {
      background-color: $color-primary;
    }

    &:hover > span {
      animation: moveInLeft 1s;
    }
  }
}

.active {
  position: relative;
  background-color: $color-primary-dark-1;
  width: 15rem;
  padding: 0 2rem;
  border-radius: 15px;
  border-bottom: 3px solid $color-primary-dark-2;
}

// ANIMATION
.nav__link:hover > .nav__icon {
  opacity: 1;
}

.nav__item:hover > .dropdown {
  display: inline-block;
}
