.post {
    &--header {
        grid-column: full-start/full-end;
    }
    &--section {
        grid-column: full-start/full-end;
    }
}
.section {
    &-1 {
    }
    &-2 {
        background-color: $color-grey-light-2;
    }
    &-3 {
    }
    &-4 {
        background-color: $color-grey-light-2;
    }
}
